body {
    background-color:rgb(231, 253, 231);
}

p {
    background-color:deeppink; color:lemonchiffon;
    border: dotted 15px hotpink; text-align:center;
    padding:15px;
}
/*
    for padding:
    1 value: all sides
    2 values: 1st value = top/bottom, 2nd = left/right
    4 values: 1st = top, 2nd = right, 3rd = bottom, 4th = left

    padding is for internal spacing
    margin is for external spacing
*/

/*
    cmd + / or ctrl +/
    opt + sift + a for alternative comment shortcut
*/
h1 {
    background-color:midnightblue; color:cornflowerblue; border: dashed 7px cornflowerblue;
    font-size:50px;
    text-align:center;
    padding:20px 10px 20px 10px;
    margin: 50px;
    border-radius: 25px;
}

.special {
    background-color:cornflowerblue; color:midnightblue; border-radius: 100%;
    margin: 20px 210px;
}

.centered-text {
    text-align:center;
    padding: 15px;
}




.card {
    width: 200px;
    height: 250px;
    perspective: 1000px;
}

.card-front,
.card-back {
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
}

.card-back {
    transform: rotateY(180deg);
}

.card:hover .card-front {
    transform: rotateY(180deg);
}

.card:hover .card-back {
    transform: rotateY(0deg);
}